---
# tasks file for ansible-role-poudriere

- include_vars: "{{ ansible_os_family }}.yml"

- include: install-FreeBSD.yml
  when: ansible_os_family == 'FreeBSD'

- name: Create poudriere.conf
  template:
    src: poudriere.conf.j2
    dest: "{{ poudriere_conf }}"

- name: Install git
  pkgng:
    name: git
    state: present

- name: create hooks
  template:
    src: hook.sh.j2
    dest: "/usr/local/etc/poudriere.d/hooks/{{ item.key }}.sh"
    mode: 0755
  with_dict: "{{ poudriere_hooks }}"

- command: "poudriere ports -c -p {{ item.key }} -m {{ item.value.method }} {% if 'branch' in item.value %} -B {{ item.value.branch }} {% endif %} {% if 'extra_flags' in item.value %}{{ item.value.extra_flags }}{% endif %}"
  args:
    creates: "{{ poudriere_config.BASEFS }}/ports/{{ item.key }}"
  with_dict: "{{ poudriere_ports }}"

- command: "poudriere jail -c -j {{ item.key }} -m {{ item.value.method }} -v {{ item.value.version }} {% if 'extra_flags' in item.value %}{{ item.value.extra_flags }}{% endif %}"
  args:
    creates: "{{ poudriere_config.BASEFS }}/jails/{{ item.key }}"
  with_dict: "{{ poudriere_jails }}"
